@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * sharing styles */

.btn {
  width: 197px;
  height: 40px;
  border-radius: 12px;
  border: none;
  color: #ffffff;
}

/* * sharing fonts */
.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-medium {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-semibold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

/* ? styles nav section */

.nav-section {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.brand-title {
  font-size: 2rem;
}

.brand-menu ul {
  display: flex;

  align-items: center;
  gap: 36px;
}

.brand-menu ul li {
  list-style-type: none;
}

.brand-menu li:nth-child(1) a {
  color: orange;
}
.brand-menu li:nth-child(2) a {
  color: skyblue;
}
.brand-menu li:nth-child(3) a {
  color: #05d4df;
}
.brand-menu li:nth-child(4) a {
  color: #5d58ef;
}

.brand-menu ul a {
  text-decoration: none;
}

.primary-button {
  background-color: orange;
}

.menu-bar {
  display: none;
}

hr {
  border: 0.5px solid orange;
  opacity: 0.3;
  margin-top: 12px;
  display: none;
}
/* ? Styles banner section */

.banner-section {
  max-width: 90vw;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* border: 1px solid; */
}

.banner-title {
  font-size: 3.5rem;
}

.banner-description {
  font-size: 1.25rem;
  margin: 24px 0px;
}

.secondary-button {
  background-color: black;
}

.banner-title span:nth-child(1) {
  color: orange;
}

/* .banner-title span:nth-child(2) {
  color: skyblue;
} */

.banner-title .span-2 {
  color: skyblue;
}

/* ? styles curriculumn section */
.curriculumn-section {
  width: 90vw;
  margin: 0 auto;
  background-image: url("../assets/bg.png");
  background-repeat: repeat;
  background-position: top;
}

.curriculumn-container {
  /* border: 1px solid; */
  margin-top: 100px;
}
.curriculumn-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  text-align: center;
  margin-top: 50px;
}

.curriculumn-title {
  text-align: center;
  font-size: 3vw;
}

.card {
  /* border: 1px solid; */
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(128, 128, 128, 0.111);
}

.card:nth-child(1) {
  background: linear-gradient(
    to bottom,
    rgba(222, 245, 255, 1) 0%,
    rgba(255, 255, 255, 1) 20%
  );
}

.card:nth-child(2) {
  background: linear-gradient(
    to bottom,
    rgba(255, 244, 220, 1) 0%,
    rgba(255, 255, 255, 1) 20%
  );
}

.card:nth-child(3) {
  background: linear-gradient(
    to bottom,
    rgba(241, 230, 255, 1) 0%,
    rgba(255, 255, 255, 1) 20%
  );
}

.card-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* border: 1px solid; */
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 24px;
  padding: 0px 30px;
}

.card-description {
  color: #808080;
  font-size: 16px;
  padding: 0px 30px;
}

.card:nth-child(1) button {
  border: none;
  color: #64c8ff;
  padding: 30px 0px;
  background-color: white;
}
.card:nth-child(2) button {
  border: none;
  color: #f0aa00;
  padding: 30px 0px;
  background-color: white;
}
.card:nth-child(3) button {
  border: none;
  color: #8700ff;
  padding: 30px 0px;
  background-color: white;
}

.card-image,
.card-title,
.card-description,
.card-btn {
  margin-top: 40px;
}

.curriculumn-container-button {
  text-align: center;
  margin-top: 100px;
  /* width: 60px;
  height: 60px; */
}

.curriculumn-container-button a {
  text-decoration: none;
}

.curriculumn-container-button img {
  /* border: 1px solid; */
  display: inline-block;
  width: 60px;
  height: 60px;
  transition: transform 0.1s;
}

.curriculumn-container-button a:nth-child(1) img:hover {
  transform: translateX(-10px);
}

.curriculumn-container-button a:nth-child(2) img:hover {
  transform: translateX(10px);
}

/* ? styles stories section */

.stories-section {
  background: linear-gradient(
      183deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(254, 163, 1, 0.3) 100%
    ),
    url("../assets/bg.png");
  height: 800px;
}

.stories-title {
  text-align: center;
  font-size: 2.8rem;
  margin: 80px 0px;
}

.stories-card-flex-container {
  display: flex;
  max-width: 80vw;
  margin: 0 auto;
  gap: 1rem;
}

.main-card-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  /* border: 1px solid; */
  overflow: hidden;
}

.main-card-image img {
  width: 100%;
  height: 100%;
}

.main-card-title,
.main-card-description {
  margin-top: 30px;
}

.inline-date-btn button {
  color: skyblue;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

.main-stories-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
}

.main-stories-card .inline-date-btn button {
  background-color: skyblue;
  color: white;
  position: absolute;
  top: 60%;
  left: 35%;
}

.main-card-title {
  font-size: 1.5rem;
}

.main-card-title,
.main-card-description {
  /* padding: 0px 15px; */
  padding: 0px 25px;
}

.main-card-description {
  font-size: 1rem;
  color: #666666;
  line-height: 28px;
}

.multi-stories-grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.multi-stories-card {
  border-radius: 16px;
  /* border: 1px solid; */
  overflow: hidden;
  background-color: white;
  position: relative;
}

.multi-card-image img {
  width: 100%;
}

.multi-card-title {
  text-align: center;
  padding: 15px 10px;
  /* font-size: 1rem; */
}

.inline-date-btn button {
  width: 160px;
  position: absolute;
  top: 190px;
  left: 90px;
}

.multi-stories-card:nth-child(1) button {
  background-color: #95b226;
  color: #ffffff;
}
.multi-stories-card:nth-child(2) button {
  background-color: #5d58f0;
  color: #ffffff;
}
.multi-stories-card:nth-child(3) button {
  color: #ffffff;
  background-color: #95b226;
}
.multi-stories-card:nth-child(4) button {
  background-color: #95b226;
  color: #ffffff;
}

.stories-button {
  text-align: center;
  margin-top: 35px;
}

.tertiary-button {
  background-color: black;
}

/* ?Styles footer section */

.footer-section {
  background-color: #01acfd;
  height: 300px;
}

.footer-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  /* gap: 10rem; */
}

.footer-title {
  color: #ffffff;
}

.footer-logo-title {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 45px;
  height: 45px;
}

.footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-logo-title-description {
  max-width: 300px;
}

.footer-description {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 35px;
}

.footer-about {
  color: #ffffff;
}

.footer-about h5 {
  font-size: 1.1rem;
}

.footer-about li {
  list-style-type: none;
  margin-top: 20px;
  font-size: 16px;
}

.social-media-title {
  color: #ffffff;
  font-size: 1.1rem;
}

.social-media-icon {
  margin-top: 32px;
}

.social-media-icon a {
  text-decoration: none;
}

.hide {
  display: none;
}

/*! Responsive styles  */

@media screen and (max-width: 576px) {
  .brand-title,
  .brand-menu,
  .primary-button {
    display: none;
  }

  hr {
    display: block;
  }

  .brand-logo {
    width: 40px;
    height: 40px;
  }

  .brand-logo img {
    width: 100%;
    height: 100%;
  }
  .menu-bar {
    display: block;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-text-container .banner-title {
    font-size: 10vw;
  }

  .banner-text-container {
    order: 2;
    text-align: center;
  }

  .banner-image-container {
    order: 1;
  }

  .banner-image-container img {
    width: 90vw;
    /* height: 0vw; */
  }

  .secondary-button {
    width: 100px;
    height: 50px;
  }

  .curriculumn-card-container {
    flex-direction: column;
  }

  .curriculumn-title {
    font-size: 26px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .curriculumn-container-button {
    display: none;
  }

  .stories-section {
    height: 550px;
    margin-top: 80px;
  }

  .stories-title {
    font-size: 1.8rem;
    margin: 40px 0px;
  }

  .main-stories-card {
    display: none;
  }

  .multi-stories-grid-card {
    gap: 5px;
  }

  .multi-stories-card {
    border-radius: 5px;
  }

  .inline-date-btn button {
    width: 105px;
    position: absolute;
    top: 130px;
    left: 65px;
    font-size: 9px;
    padding: 4px 0px;
  }

  .multi-card-title {
    font-size: 9px;
  }

  .footer-section {
    height: 600px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-about h5,
  .social-media-title {
    margin-top: 32px;
  }

  .social-media-icon {
    margin-top: 10px;
  }

  .social-media-icon img {
    width: 20px;
    height: 20px;
  }
}
